<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '269341553563094',
          xfbml      : true,
          version    : 'v2.10'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <%= render 'layouts/header' %>
    <div class="container" id="page">
      <% flash.each do |key, value| %>
        <% if key == "notice" %>
          <% key = "info" %>
        <% elsif key == "alert" %>
          <% key = "danger" %>
        <% end %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-8">
          <%= yield %>
        </div>
        <div class="col-sm-4 side">
          <%= render "layouts/side" %>
          <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
          </div>
        </div>
      </div>
      <%= render 'layouts/footer', cache: true %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
